@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.m-auto {
  margin: auto 0;
}

.app-bar {
  width: 100%;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  max-height: 200px;
}

.app-bar h1 {
  margin-left: 25px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-item li {
  margin: 15px;
}

.nav-item li a {
  color: rgb(54, 48, 48);
  text-decoration: none;
  font-weight: 300;
  transition: 0.4s;
}

.nav-item li a.active {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 600;
}

.nav-item li a:hover {
  font-size: 16.5px;
  transition: 0.4s;
}

.container {
  max-width: 1600px;
  margin: 20px auto;
}

.d-flex {
  display: flex;
}

.status{
  min-width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  padding: 2px 16px;
  border-radius: 100px;
  font-size: 1.35rem;
  line-height: 175%;
  color: #0e1422;
  border: 1px solid #e6e7e8;
  font-weight: 500;
}

.Naik {
  border-color: red;
  color: red;
}

.Turun {
  border-color: green;
  color: green;
}

.Stabil {
  border-color: #307bc4;
  color: #307bc4;
}

.card {
  /* existing */
  background-color: white;
  min-width: 230px;
  max-width: 230px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin: 30px;

  /* add this */
  position: relative;
  overflow: hidden;
  /* untuk menghindari elemen keluar */
}

.card-img {
  margin-bottom: -15px;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  text-transform: capitalize;
}

.card-title {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.card-text {
  font-size: 13px;
}

.vertical-line {
  border-right: 1.6px solid rgba(0, 0, 0, 0.4);
}

.harga {
  width: 100%;
  height: 110px;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  /* transparan hitam */
  color: rgba(217, 209, 209, 0.751);
  font-size: 25px;
  font-weight: bold;
  padding-top: 30px;
  border-radius: 5px;
  z-index: 10;
  /* pastikan berada di atas gambar */
  transition: background-color 0.4s;
}

.harga:hover {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(233, 224, 224);
}

.icon-nav {
  width: auto;
  height: 70px;
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

.filter-bulan input[type="month"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: 0.4s;
}

.filter-bulan input[type="month"]:hover {
  background: rgb(222, 218, 218);
  color: black;
  transition: 0.4s;
}

.form-tampil {
  padding: 15px;
}

.tampil-btn {
  margin-left: 20px;
  width: 100px;
  background: rgba(255, 255, 255, 0);
  color: black;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.4s;
}

.tampil-btn:hover {
  background: rgb(222, 218, 218);
  color: black;
  transition: 0.4s;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 1600px;
  max-height: 750px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slides {
  display: flex;
  width: auto;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  height: 750px;
  object-fit: cover;
}

.info-alert {
  background-color: #e8f4fd;
  border: 1px solid #b3e5fc;
  color: #0277bd;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 13.5px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.filter-section {
  width: 100%;
  height: 42px;
  margin-top: 22px;
}

.filter-section-container {
  height: 42px;
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: space-between;
}

.filter-right {
  display: flex;
  gap: 1.5rem;
}

.dropdown-btn {
  height: 42px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 999px;
  font-size: 13.5px;
  color: #333333;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease;
  font-family: "Poppins";
  align-items: center;
  justify-content: center;
}

.dropdown-btn:hover {
  background-color: #f7f7f7;
}

.chevron .bx-menu-filter {
  position: relative;
  top: 2px;
}

.search-container {
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 12px;
  color: #888888;
  font-size: 18px;
}

.search-input {
  height: 42px;
  padding: 0 16px 0 38px;
  border: 1px solid #e5e5e5;
  border-radius: 999px;
  font-size: 13.5px;
  width: 300px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.search-input:focus {
  outline: none;
  border-color: #307bc4;
  box-shadow: 0 0 0 2px rgba(48, 123, 196, 0.2);
}

.info-terbaru-komoditas{
  border-radius: 15px;
  max-width: 1400px;
  padding: 20px;
  margin: 30px auto;
  border: 1px solid #ccc;
}

.x-scroll{
  overflow-x: scroll;
}

.komoditas-grid{
  max-width: 1600px;
  padding-bottom: 2rem;
  background-color: #fff;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
  gap: 44px;
  margin-top: 1.75rem;
}

.info-grid{
  margin: 0 auto;
  width: fit-content;
  display: flex;
  column-gap: 16px;
  align-items: center;
}

canvas#hargaChart {
  max-width: 400px;
  max-height: 200px;
}

.select-pasar-filter option {
  appearance: none;
  background-color: #fff;
  color: #333;
  border: 1px solid #444;
  border-radius: 8px;
  font-size: 14x;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.select-kecamatan,
.select-pasar,
.select-kondisi-harga {
  width: 100%;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 18px;
  padding: 0.85rem 0.75rem;
  padding-inline-start: 1.2rem;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #333;
}

.form-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.view-detail {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: black;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.table-container {
  margin-top: 1.75rem;
  overflow-x: hidden;
  background: white;
  border-radius: 6px;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.modern-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #333;
}

.modern-table thead {
  background: #f9fafb;
}

.modern-table th {
  font-weight: 500;
}

.title-table {
  position: relative;
  text-align: center;
}

.modern-table th,
.modern-table td {
  padding: 15px 16px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.modern-table input[type="checkbox"] {
  transform: scale(1.1);
}

.pasar-filter {
  position: relative;
  margin: 15px;
}

.pasar-filter select {
  position: absolute;
  width: 100%;
  height: 60px;
  opacity: 0;
  cursor: pointer;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadein {
  animation: fadeInUp 1s ease-out both;
}

.footer-text{
  text-align: center;
  padding: 25px;
  font-size: 18px;
}

.footer-copyright{
  text-align: center;
  padding: 18px;
}

.keranjang-container{
  display: flex;
}

.list-komoditas{
  float: left;
  width: 60%;
  border: 2px solid #ccc;
  padding: 15px;
}

.keranjang{
  float: right;
  width: 40%;
  padding: 15px;
  border: 2px solid #ccc;
}

.table-image{
  max-width: 200px;
  max-height: 100px;
  aspect-ratio: 16/9;
  object-fit: contain;
}